header{
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
}

section{

    background-color: #FBFCFD;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
